@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer components {
  .navigation{
    @apply flex sticky h-16	bg-white shadow-md items-center px-16 z-50 top-0 justify-end;
  }
  .input-resume {
    @apply block w-full p-3 bg-gray-100 rounded mb-6 mt-1 appearance-none outline-none focus:ring-1 focus:ring-sky-500; /* TODO: outline 寬度設置 */
  }
  .title{
    @apply text-lg font-semibold mb-3 cursor-default;
  }
  ul{
    @apply list-disc list-inside	
  }
  ol{
    @apply list-decimal list-inside	
  }
}
