@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer components {
  .navigation{
    @apply flex sticky h-16	bg-white items-center px-10 z-50 top-0 justify-end;
  }
  .input-resume {
    @apply block w-full p-3 rounded mb-6 mt-1 appearance-none outline-none focus:ring-1 focus:ring-indigo-500;
    background-color: #EFF2F9;
  }
  .title{
    @apply text-lg font-semibold mb-3 cursor-default;
  }
  .purple-button{
    @apply bg-indigo-500 hover:bg-indigo-400 active:bg-indigo-600 text-white rounded px-3 py-2;

  }
  .gray-button{
    @apply bg-gray-200 hover:bg-gray-300 active:bg-gray-400 rounded px-3 py-2; 
  }
  .white-button{
    @apply bg-white hover:bg-gray-100 active:bg-gray-200 rounded px-3 py-2;
  }
/* 列表 */
  .template ul {
    @apply list-none p-0;
  }

  .template ul li {
    @apply relative pl-6;
  }

  .template ul li::before {
    @apply absolute left-2;
    content: '•';
  }

  .template ol {
    @apply list-none p-0;
    counter-reset: list-counter;
  }

  .template ol li {
    @apply relative pl-6;
    counter-increment: list-counter;
  }

  .template ol li::before {
    @apply absolute left-2;
    content: counter(list-counter) '.';
  }
}  

/* 富文本編輯器 */
.quill {
  position: relative;
}
.quill > * {
  background-color: #EFF2F9;
}
.quill > .ql-toolbar.ql-snow {
  border-style: none;
  border-radius: 4px 4px 0 0;
  padding: 8px 8px 0 8px;
}
.quill > .ql-container {
  font-family: "__Poppins_7a42f1";
}
.quill > .ql-container.ql-snow {
  border-style: none;
  border-radius: 4px;
}
.quill > .ql-container > .ql-editor {
  padding: 8px 15px 12px 15px;
  min-height: 150px;
  font-size: 16px;
}
.hobby-quill > .quill > .ql-container > .ql-editor {
  max-height: 100px;
  min-height: 100px;
  overflow-y: scroll;
}
.quill > .ql-container > .ql-editor.ql-blank::before {
  font-style: normal;
  color: #a9a9a9;
}
.quill > .ql-container > .ql-editor ul {
  padding: 0;
}
.quill > .ql-container > .ql-editor ol {
  padding: 0;
}
.quill:focus-within {
  box-shadow: 0 0 0 1px #6366f1;
  border-radius: 4px;
}