@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer components {
  .navigation{
    @apply flex sticky h-16	bg-white shadow-md items-center px-16 z-50 top-0 justify-end;
  }
  .input-resume {
    @apply block w-full p-3 bg-gray-100 rounded mb-6 mt-1 appearance-none outline-none focus:ring-1 focus:ring-sky-500; /* TODO: outline 寬度設置 */
  }
  .title{
    @apply text-lg font-semibold mb-3 cursor-default;
  }
  ul{
    @apply list-disc pl-6
  }
  ol{
    @apply list-decimal	pl-6
  }
}  


.quill {
  position: relative;
}
.quill > * {
  background-color: rgb(243 244 246);
}
.quill > .ql-toolbar.ql-snow {
  border-style: none;
  border-radius: 4px 4px 0 0;
  padding: 8px 8px 0 8px;
}
.quill > .ql-container.ql-snow {
  border-style: none;
  border-radius: 4px;
}
.quill > .ql-container > .ql-editor {
  padding: 8px 15px 12px 15px;
  min-height: 150px;
  font-size: 16px;
}
.hobby-quill > .quill > .ql-container > .ql-editor {
  max-height: 100px;
  min-height: 100px;
  overflow-y: scroll;
}
.quill > .ql-container > .ql-editor.ql-blank::before {
  font-style: normal;
  color: #a9a9a9;
}
.quill > .ql-container > .ql-editor ul {
  padding: 0;
}
.quill > .ql-container > .ql-editor ol {
  padding: 0;
}
.quill:focus-within {
  box-shadow: 0 0 0 1px rgb(14 165 233);
  border-radius: 4px;
}